button {
    border: none;
    background-color: var(--clr-background-secondary);
    opacity: 0.9;
    border-radius: var(--borderRarius);
    padding: var(--halfSafearea);
    color: var(--clr-background);
    font-family: 'Nunito';
    font-weight: 300;
    font-size: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

button > img {
    height: 1.5em;
    width: 1.5em;
}