.list {
    display: flex;
    flex-wrap: wrap;
}

.list > * {
    margin: var(--halfSafearea);
    min-width: fit-content;
}

.list.fourths:not(.list.vertical) > * {
    width: calc( 25% - var(--safearea) ) ;
}

.list.vertical {
    flex-direction: column;
}

.list.vertical > * {
    width: auto ;
}