.userListItem {
    font-size: 1.2em;
}

.userListItem > *{
    font-size: 1em;
}

.userListItem img {
    border-radius: 100%;
    width: 1em;
    height: 1em;
}

.userListItem .prefix {
    font-weight: 100;
}

.profilePictureHolder.compact {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-33%, -33%);
    z-index: -2;
}

.profilePictureHolder.compact img {
    border-radius: 100%;
    width: 2em;
    height: 2em;
}